<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>20141117_springmvc</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 解决浏览器对PUT/DELETE 等方法的支持问题 -->
  <filter>
  	<filter-name>HiddenHttpMethodFilter</filter-name>
  	<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>HiddenHttpMethodFilter</filter-name>
  	<servlet-name>dispatcher</servlet-name>
  </filter-mapping>
  
  <!-- 引入dispatcher 总控类-->
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<!-- 此name要基础，因为默认情况下,springmvc的配置文件的文件名为[name]-servlet.xml，在web-inf下 -->
  	<servlet-name>dispatcher</servlet-name> 
  	<url-pattern>/</url-pattern>   <!-- 表示拦截所有请求 -->
  </servlet-mapping>
</web-app>